<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Todo List
        </title>
    </head>
    <body>
        <header>
            <h1>Todo List</h1>
            <nav>
                <a href="{% url 'todolist_edit' todolist.pk %}">Edit</a>
                <a href="{% url 'todolist_delete' todolist.pk %}">Delete</a>    
            </nav>
        </header>     
        <main>
            <ul>
                {% for item in  todolist.items.all %}
                <li>
                    <a href="{% url 'todoitem_edit' item.pk %}">{{item.task}}</a>
                </li>
                {% endfor %}
            </ul>
        </main>

    </body>
    <footer>

    </footer>


</html>