<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Update Todo Item
        </title>
    </head>
    <body>
        <header>
        </header>     
        <main>
            <form method="post">
                {% csrf_token %} {{ form.as_p }}
                <div>
                  <button class="button">Update</button>
                <div>
            </form>
        </main>
    </body>
    <footer>
    </footer>
</html>