<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Todo List
        </title>
    </head>
    <body>
        <header>
            <h1>Todo List</h1>
            <nav>
                <a href="{% url 'todolist_new' %}">Create Todo List</a>
                <a href="{% url 'todoitem_new' %}">Create Todo Item</a>    
            </nav>
        </header>     
        <main>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                {% for list in  todolist_list %}
                    <tr>
                        <td>
                            <a href="{% url 'todolist_detail' list.pk %}">{{list.name}}</a>
                        </td>
                        <td>
                            {{list.items.all|length}}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </main>

    </body>
    <footer>

    </footer>


</html>