<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Todo List
        </title>
    </head>
    <body>
        <header>
        </header>     
        <main>
            <form method="post">
                {% csrf_token %} {{ form.as_p }}
                <div>
                  <button class="button">Create</button>
                <div>
            </form>
        </main>

    </body>
    <footer>

    </footer>


</html>